@charset "UTF-8";

 
.row1 {
	margin: 0px auto;
	width: 1100px;
	height: 650px;
}

#asas {
	text-align: center;
	justify-content: center;
}
h1{
text-align: center;margin-top: 50px;
font-family: 'Nanum Gothic', sans-serif;
	font-weight: 800;
	font-size:60px;
margin-bottom: 10px;}

.bbu{
    border-bottom: 1px solid #ddd;
}

.greylist {
	width: 100px;
	height: 50px;
	font-weight: 900;
	color: white;
	text-align: center;
	background: black;
	border-radius: 5px;
}

.greylist:hover {
	background-color: #6CC148;
	border: solid 2px white;
	color: white;
}

.greylist a {
	text-decoration-line: none;
	text-decoration: none;
	color: white;
}

.atw {
	text-decoration-line: none;
	text-decoration: none;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	display: block;
	font-size: 20px;
	font-weight: bold;
}

.writeButton {
	float: right;
}

.fg {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-weight: bold;
}
.fgl {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 20px;
}
.fw{
color: white;
}
.lb{
background-color: #292929;}

.rightbtn{
	float: right;
}
 